body {
  margin: 0;
}

::-webkit-scrollbar {
  background: aliceblue;
  width: 9px;
  border-radius: 10px;
  border: 2px solid #e6e6e6;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 10px;
  border: 2px solid #d0d0d0;
}
