@import "../../../scss/frontend/components/image-picker";

.no-something {
  & + span {
    & + input, & + .input-div {
      display: none;
    }
  }

  &:checked {
    & + span {
      & + input, & + .input-div {
        display: block;
      }
    }
  }
}

.btn-toolbar.sw-toolbar.sw-toolbar-bottom {
  justify-content: center !important;
}

.sw-btn-group {
  justify-content: space-between;
  display: flex;
  width: calc(100% - 100px);
}

form {
  input[aria-invalid="true"], textarea[aria-invalid="true"] {
    border-color: #dc3545;
  }

  .error-help-block {
    color: #dc3545;
    font-size: .85rem;
  }
}

.cross {
  &:after {
    content: 'x';
  }
  font-family: monospace;
  width: 20px;
  height: 20px;
  background: #ff8383;
  color: #fff;
  display: block;
  text-align: center;
  position: absolute;
  top: -8px;
  border-radius: 50%;
  font-size: 1em !important;
  right: -8px;
  cursor: pointer;
}