.no-something {
  & + span {
    & + input, & + .input-div {
      display: none;
    }
  }

  &:checked {
    & + span {
      & + input, & + .input-div {
        display: block;
      }
    }
  }
}

.btn-toolbar.sw-toolbar.sw-toolbar-bottom {
  justify-content: center !important;
}

.sw-btn-group {
  justify-content: space-between;
  display: flex;
  width: calc(100% - 100px);
}