.no-something {
  & + span {
    & + input, & + .input-div {
      display: none;
    }
  }

  &:checked {
    & + span {
      & + input, & + .input-div {
        display: block;
        & + .error-help-block {
          display: none;
        }
      }
    }
  }
}