@import "components/slider";
@import "components/marquee";
@import "components/filter";

.service-type-title-left {
  border-left: 5px solid gold;
}

.service-type-title-right {
  border-right: 5px solid gold;
}

.service-card-shadow {
  box-shadow: 0 0 0.5rem 1px rgba(0, 0, 0, 0.15) !important;
}

.category-image {
  width: 5%;
}