.service-photo {
  width: 50px;
}

.message-templates {
  height: 300px;
  overflow-y: auto;
}

.fade- {
  &#{enter-active}, &#{leave-active} {
    transition: opacity .5s;

    &#{enter}, &#{leave-to} {
      opacity: 0;
    }
  }
}


.list-enter-active, .list-leave-active {
  transition: all .5s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(15px);
}